<div class="nag_comp d-inline-block w-100">
  <mat-toolbar class="p-1 d-flex justify-content-between">

    <mat-toolbar-row>
      <h4 class="text-capitalize ">Użytkownicy</h4>
      <span *ngIf="!!user.is_staff">
        <button mat-raised-button (click)="openDialogAdd()" class="m-1">Dodaj</button>
        <button mat-raised-button (click)="openDialogAdd(selection.selected[0])"
          [disabled]="selection.selected.length==0" class="m-1">Edytuj</button>
        <button mat-raised-button (click)="deleteSelected(selection.selected[0])"
          [disabled]="selection.selected.length==0" class="m-1">Usuń</button>
        <button mat-raised-button (click)="openDialogPass(selection.selected[0])"
          [disabled]="selection.selected.length==0" class="m-1">Zmień hasło</button>
      </span>
    </mat-toolbar-row>
    <mat-form-field style="margin-bottom: -10px;">
      <mat-label>Wyszukaj</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Wpisz czego szukasz?">
    </mat-form-field>
  </mat-toolbar>
  <div class="mat-elevation-z8 mr-2 ml-2 mb-2">
    <table mat-table [dataSource]="dataSource" matSort>
      <!-- Checkbox -->
      <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef class="matSelectColumn" fxFlex="100px">
        </th>
        <td mat-cell *matCellDef="let row" class="matSelectColumn" fxFlex="100px"
          [ngClass]="{'matSelectRow': selectedRowIndex == row.id}">
          <mat-checkbox (click)="$event.stopPropagation()"
            (change)="$event ? selection.toggle(row) : null; selection.isSelected(row) ? highlight(row) : highlight(-1);"
            [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)">
          </mat-checkbox>
        </td>
      </ng-container>

      <!-- ID -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-info"> ID </th>
        <td mat-cell *matCellDef="let row"
          (click)="$event ? selection.toggle(row) : null; selection.isSelected(row) ? highlight(row) : highlight(-1);"
          [ngClass]="{'matSelectRow': selectedRowIndex == row.id}"> {{row.id}} </td>
      </ng-container>

      <!-- Username -->
      <ng-container matColumnDef="username">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-info"> Nazwa użytkownika </th>
        <td mat-cell *matCellDef="let row"
          (click)="$event ? selection.toggle(row) : null; selection.isSelected(row) ? highlight(row) : highlight(-1);"
          [ngClass]="{'matSelectRow': selectedRowIndex == row.id}"> {{row.username}} </td>
      </ng-container>

      <!-- Email -->
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-info"> Email </th>
        <td mat-cell *matCellDef="let row"
          (click)="$event ? selection.toggle(row) : null; selection.isSelected(row) ? highlight(row) : highlight(-1);"
          [ngClass]="{'matSelectRow': selectedRowIndex == row.id}"> {{row.email}} </td>
      </ng-container>

      <!-- first_name -->
      <ng-container matColumnDef="first_name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-info"> Imię </th>
        <td mat-cell *matCellDef="let row"
          (click)="$event ? selection.toggle(row) : null; selection.isSelected(row) ? highlight(row) : highlight(-1);"
          [ngClass]="{'matSelectRow': selectedRowIndex == row.id}"> {{row.first_name}} </td>
      </ng-container>

      <!-- last_name -->
      <ng-container matColumnDef="last_name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-info"> Nazwisko </th>
        <td mat-cell *matCellDef="let row"
          (click)="$event ? selection.toggle(row) : null; selection.isSelected(row) ? highlight(row) : highlight(-1);"
          [ngClass]="{'matSelectRow': selectedRowIndex == row.id}"> {{row.last_name}} </td>
      </ng-container>

      <!-- is_staff -->
      <ng-container matColumnDef="is_staff">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-info"> Prawa administracyjne </th>
        <td mat-cell *matCellDef="let row"
          (click)="$event ? selection.toggle(row) : null; selection.isSelected(row) ? highlight(row) : highlight(-1);"
          [ngClass]="{'matSelectRow': selectedRowIndex == row.id}"> {{row.is_staff ? 'Tak' : 'Nie'}} </td>
      </ng-container>

      <!-- is_active -->
      <ng-container matColumnDef="is_active">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-info"> Aktywny </th>
        <td mat-cell *matCellDef="let row"
          (click)="$event ? selection.toggle(row) : null; selection.isSelected(row) ? highlight(row) : highlight(-1);"
          [ngClass]="{'matSelectRow': selectedRowIndex == row.id}"> {{row.is_active ? 'Tak' : 'Nie'}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[14]" [hidePageSize]="true"></mat-paginator>
  </div>
</div>
