<div class="nag_comp d-inline-block w-100">

  <mat-toolbar class="p-1 d-flex justify-content-between">

    <mat-toolbar-row>
      <h4 class="text-capitalize ">Grupy przyrządów</h4>
      <button mat-raised-button (click)="openDialogAddGroup()" class="m-1">Dodaj grupę</button>
      <button mat-raised-button (click)="openDialogAddGroup(selection.selected[0])"
        [disabled]="selection.selected.length==0" class="m-1">Edytuj zaznaczoną grupę</button>
      <button mat-raised-button (click)="deleteSelectedGroup(selection.selected[0])"
        [disabled]="selection.selected.length==0" class="m-1">Usuń zaznaczoną grupę</button>
    </mat-toolbar-row>
    <mat-form-field style="margin-bottom: -10px;">
      <mat-label>Szukaj grupy</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Wpisz czego szukasz?">
    </mat-form-field>
  </mat-toolbar>



  <div class="mat-elevation-z8 mr-2 ml-2 mb-2">
    <table mat-table [dataSource]="dataSource" matSort>

      <!-- Checkbox -->
      <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef class="matSelectColumn" fxFlex="100px">

        </th>
        <td mat-cell *matCellDef="let row" class="matSelectColumn" fxFlex="100px"
          [ngClass]="{'matSelectRow': selectedRowIndex == row.id}">
          <mat-checkbox (click)="$event.stopPropagation()"
            (change)="$event ? selection.toggle(row) : null; selection.isSelected(row) ? highlight(row) : highlight(-1);"
            [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)">
          </mat-checkbox>
        </td>
      </ng-container>

      <!-- ID -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-info"> ID </th>
        <td mat-cell *matCellDef="let row"
          (click)="$event ? selection.toggle(row) : null; selection.isSelected(row) ? highlight(row) : highlight(-1);"
          [ngClass]="{'matSelectRow': selectedRowIndex == row.id}"> {{row.id}} </td>
      </ng-container>

      <!-- Nazwa -->
      <ng-container matColumnDef="nazwa">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-info"> Nazwa </th>
        <td mat-cell *matCellDef="let row"
          (click)="$event ? selection.toggle(row) : null; selection.isSelected(row) ? highlight(row) : highlight(-1);"
          [ngClass]="{'matSelectRow': selectedRowIndex == row.id}"> {{row.nazwa}} </td>
      </ng-container>

      <!-- Metoda kontroli -->
      <ng-container matColumnDef="metodaKontroli">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-info"> Instrukcja kontroli </th>
        <td mat-cell *matCellDef="let row"
          (click)="$event ? selection.toggle(row) : null; selection.isSelected(row) ? highlight(row) : highlight(-1);"
          [ngClass]="{'matSelectRow': selectedRowIndex == row.id}"> {{row.metodaKontroli}} </td>
      </ng-container>

      <!-- Karta pomiarow -->
      <ng-container matColumnDef="kartaPomiarowNazwa">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-info"> Karta pomiarów</th>
        <td mat-cell *matCellDef="let row" (click)="$event ? selection.toggle(row) : null;
          selection.isSelected(row) ? highlight(row) : highlight(-1);"
          [ngClass]="{'matSelectRow': selectedRowIndex == row.id}">
          <div *ngIf="row.karta.length > 0; then thenBlock else elseBlock"></div>
          <ng-template #thenBlock>
            <a mat-button #thenBlock href="{{row.karta[0].link}}" target="_blank"
              matTooltip="Kliknij, aby wyświetlić" matTooltipPosition="left">
              <mat-icon svgIcon="attach_file" matSuffix class="d-inline-flex" style="cursor:pointer;"></mat-icon>
              {{row.karta[0].nazwa}}
            </a>
          </ng-template>
          <ng-template #elseBlock>
            <div class="alert alert-light m-0" role="alert">
              Brak załączonej karty
            </div>

          </ng-template>


        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;">

      </tr>
    </table>

    <mat-paginator [pageSizeOptions]="[10]" [hidePageSize]="true"></mat-paginator>
  </div>



</div>
