table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 300px;
}


.nag_comp{
  background-color: #eef1ef!important;
  text-align: center ;
}
.nag_comp h4 {
  padding: 6px;
  position: fixed;
  top: 7px;
  color: whitesmoke;
}
.mat-header-cell{
  font-size: 16px;
}
.matSelectColumn{
  max-width: 50px;
}
.matSelectRow{
  background-color: #e5e8ff;
}
.matSelectRowMouse{
  background-color: gray;
}
