<div class="nag_comp">
<h4>Grupy przyrządów</h4>
<mat-toolbar class="p-1 d-flex justify-content-between">
  <mat-toolbar-row>
    <button mat-raised-button  (click)="openDialogAddGroup()" class="m-1">Dodaj grupę</button>
    <button mat-raised-button  (click)="openDialogAddGroup()" [disabled]="selection.selected.length==0" class="m-1">Edytuj zaznaczoną grupę</button>
  </mat-toolbar-row>
  <mat-form-field style="margin-bottom: -10px;">
    <mat-label>Szukaj grupy</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Wpisz czego szukasz?" >
  </mat-form-field>
</mat-toolbar>
</div>
<!--
<div class="document-editor">
  <div class="document-editor__toolbar"></div>
  <div class="document-editor__editable-container">
      <div class="document-editor__editable">
          <p>The initial editor data.</p>
      </div>
  </div>
</div>


<div class="document-editor">
    <div class="document-editor__toolbar"></div>
    <div class="document-editor__editable-container">
        <div class="document-editor__editable" >
        <ckeditor  [editor]="Editor" [(ngModel)]="model.editorData" (ready)="onReady($event)"></ckeditor>

        </div>
    </div>
</div>
-->


<div class="mat-elevation-z8 mr-1 ml-1">
  <table mat-table [dataSource]="dataSource" matSort>

      <!-- Checkbox Column -->
  <ng-container matColumnDef="select" >
    <th mat-header-cell *matHeaderCellDef class="matSelectColumn" fxFlex="100px">

    </th>
    <td mat-cell *matCellDef="let row" class="matSelectColumn" fxFlex="100px"  [ngClass]="{'matSelectRow': selectedRowIndex == row.id}">
      <mat-checkbox (click)="$event.stopPropagation()"
                    (change)="$event ? selection.toggle(row) : null; selection.isSelected(row) ? highlight(row) : highlight(-1);"
                    [checked]="selection.isSelected(row)"
                    [aria-label]="checkboxLabel(row)">
      </mat-checkbox>
    </td>
  </ng-container>

    <!-- ID Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-info"> ID </th>
      <td mat-cell *matCellDef="let row" (click)="$event ? selection.toggle(row) : null; selection.isSelected(row) ? highlight(row) : highlight(-1);"
          [ngClass]="{'matSelectRow': selectedRowIndex == row.id}"> {{row.id}} </td>
    </ng-container>

    <!-- Progress Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-info"> Nazwa </th>
      <td mat-cell *matCellDef="let row" (click)="$event ? selection.toggle(row) : null; selection.isSelected(row) ? highlight(row) : highlight(-1);"
      [ngClass]="{'matSelectRow': selectedRowIndex == row.id}"> {{row.name}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="controlMethod">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-info"> Instrukcja kontroli </th>
      <td mat-cell *matCellDef="let row" (click)="$event ? selection.toggle(row) : null; selection.isSelected(row) ? highlight(row) : highlight(-1);"
      [ngClass]="{'matSelectRow': selectedRowIndex == row.id}"> {{row.controlMethod}} </td>
    </ng-container>

    <!-- Color Column -->
    <ng-container matColumnDef="measurementCardTemplateId">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-info"> Instrukcja sprawdzenia</th>
      <td mat-cell *matCellDef="let row" (click)="$event ? selection.toggle(row) : null; selection.isSelected(row) ? highlight(row) : highlight(-1);"
      [ngClass]="{'matSelectRow': selectedRowIndex == row.id}"> {{row.measurementCardTemplateId}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;">
    </tr>
  </table>

  <mat-paginator [pageSizeOptions]="[10]" [hidePageSize]="true"></mat-paginator>
</div>


