<form [formGroup]="groupForm" class="h-100" (ngSubmit)="onSubmit()">
<div style="height:calc(100% - 60px)">

	<!--
<h1 mat-dialog-title>Dodawanie nowej grupy dla przyrządów</h1>
<div mat-dialog-content  >
  <p>Dodawanie nowej grupy dla przyrządów</p>
  <mat-form-field>
    <input matInput cdkFocusInitial [(ngModel)]="data.name">
    <input matInput  [(ngModel)]="data.controlMethod">
  </mat-form-field>
</div>
-->

	<h1 mat-dialog-title class="p-1 w-100 text-center text-capitalize border-bottom bg-secondary text-white shadow  rounded">Dodaj nową grupę przyrządów</h1>

  <mat-form-field  class="w-100 p-2">
    <mat-label>Nazwa grupy</mat-label>
		<input matInput formControlName="nazwa" >
		<mat-error *ngIf="nazwa.errors?.minlength &&! nazwa.errors?.required">
      Prosze wprowadzić nazwę grupy, składającą się z przynajmniej 3 znaków
		</mat-error>
		<mat-error *ngIf="nazwa.errors?.required">
      To pole jest <strong>wymagane</strong>
		</mat-error>
	</mat-form-field>

    <!-- nr grupy-->
    <mat-form-field  class="w-100 p-1">
      <mat-label>Nr grupy</mat-label>
      <input matInput type="number" formControlName="nrGrupy" cdkFocusInitial >
      <span matPrefix>ZPL.</span>
    </mat-form-field>

  <mat-form-field  class="w-100 p-2">
		<mat-label>Instrukcja kontroli</mat-label>
		<input matInput formControlName="metodaKontroli" >
		<mat-error *ngIf="metodaKontroli.errors?.minlength &&! metodaKontroli.errors?.required">
			Prosze wprowadzić opis składający się z przynajmniej 3 znaków
		</mat-error>
		<mat-error *ngIf="metodaKontroli.errors?.required">
			To pole jest <strong>wymagane</strong>
		</mat-error>
  </mat-form-field>

<!-- <h6>Przyrządy będą sprawdzane w odstępach czasowych:</h6> -->
  <!-- interwał sprawdzeń - wartość -->
  <mat-form-field  class="w-50 pt-0 p-2">
		<mat-label>Interwał sprawdzeń</mat-label>
		<input matInput type="number" formControlName="intervalValue" >
  </mat-form-field>

  <!-- interwał sprawdzeń - jednostka-->
  <mat-form-field  class="w-50 p-1">
    <mat-label>Jednostka</mat-label>
    <mat-select  formControlName="intervalUnit">
      <mat-option *ngFor="let item of intervalUnitList" [value]="item.id">{{item.nazwa}} ({{item.skrot}})</mat-option>
    </mat-select>
  </mat-form-field>

  <!-- badana jednostka-->
  <mat-form-field  class="w-100 p-1">
    <mat-label>Badana jednostka</mat-label>
    <mat-select  formControlName="auditUnit" [(value)]="auditUnitSelectedId" >
      <mat-option *ngFor="let item of auditUnitList" [value]="item.id">{{item.nazwa}} ({{item.skrot}})</mat-option>
    </mat-select>
  </mat-form-field>

  <h6>Karta pomiarów:</h6>
  <div *ngIf="kartaPomiarowNazwa then karta else blank" ></div>
  <ng-template #karta>
    <mat-icon matSuffix class="d-block" class="ml-2" svgIcon="attach_file"></mat-icon>
    <a *ngIf="!isNewFile" mat-button href="{{kartaPomiarowLink}}" target="_blank" class="ml-2">{{kartaPomiarowNazwa}}</a>
    <span *ngIf="isNewFile"  class="ml-2">{{kartaPomiarowNazwa}}</span>
    <button type="button" class="ml-2" mat-raised-button color="warn" (click)="deleteFile()">Usuń kartę</button>
  </ng-template>

  <ng-template #blank>
    <button class="ml-2" type="button" mat-raised-button color="primary" (click)="fileInput.click()">Dodaj kartę pomiarów</button>
    <input type="file" #fileInput hidden (change)="handleFileInput($event)">
  </ng-template>
  <!-- <mat-form-field  class="w-100 " appearance="outline">
		<mat-label>Karta pomiarów</mat-label>
    <input matInput formControlName="kartaPomiarowNazwa" placeholder="Nie wybrano pliku" >
    <input type="file" #fileInput hidden
           id="inputGroupFile01"
           name="fileInput"
           formControlName="kartaPomiarowPlik"
           (change)="handleFileInput($event)"
           class="custom-file-input"
           aria-describedby="inputGroupFileAddon01">
      <mat-icon matSuffix class="d-flex" style="cursor:pointer;" svgIcon="attach_file" (click)="fileInput.click()" matTooltip="Kliknij, aby wybrać plik."
      matTooltipPosition="left"></mat-icon>
  </mat-form-field> -->
<!--
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="inputGroupFileAddon01">Instrukcja kontroli</span>
    </div>
    <div class="custom-file">

      <input type="file"
           id="inputGroupFile01"
           name="measurementCardTemplateId"
           (change)="handleFileInput($event)"
           class="custom-file-input"
           aria-describedby="inputGroupFileAddon01">
      <label class="custom-file-label" for="inputGroupFile01" >{{fileLabel}}</label>
    </div>
  </div>

<mat-form-field class="columns">
  <mat-label *ngIf="fileLabel.length>0; else newFile">{{fileLabel}}</mat-label>
  <ng-template #newFile>
      <mat-label>Choosee file</mat-label>
  </ng-template>
  <input matInput disabled>
  <button mat-icon-button matSuffix (click)="fileInput0.click()">
      <mat-icon svgIcon="attach_file"></mat-icon>
  </button>
  <input hidden (change)="handleFileInput($event)" #fileInput0 type="file" id="file">
</mat-form-field>
-->
  </div>
	<div mat-dialog-actions class="p-2 border-top d-flex justify-content-end">
		<button mat-raised-button class="btn btn-secondary" type="button" (click)="onNoClick()" >Anuluj</button>
		<button mat-raised-button class="btn btn-success" type="submit" [disabled]="!groupForm.valid" >Zapisz</button>
  </div>
</form>
