<form [formGroup]="addgroupform" class="h-100" (ngSubmit)="onSubmit()">
<div style="height:calc(100% - 60px)">

	<!--
<h1 mat-dialog-title>Dodawanie nowej grupy dla przyrządów</h1>
<div mat-dialog-content  >
  <p>Dodawanie nowej grupy dla przyrządów</p>
  <mat-form-field>
    <input matInput cdkFocusInitial [(ngModel)]="data.name">
    <input matInput  [(ngModel)]="data.controlMethod">
  </mat-form-field>
</div>  
-->


	<h1 mat-dialog-title class="p-1 w-100 text-center text-capitalize border-bottom bg-secondary text-white shadow  rounded">Dodaj nową grupę przyrządów</h1>
	
  <mat-form-field  class="w-100 p-2">
		<mat-label>Nazwa grupy</mat-label>
		<input matInput formControlName="name" cdkFocusInitial >
		<mat-error *ngIf="name.errors?.minlength &&! name.errors?.required">
			Prosze wprowadzić nazwę grupy, składającą się z przynajmniej 3 znaków
		</mat-error>
		<mat-error *ngIf="name.errors?.required">
			To pole jest <strong>wymagane</strong>
		</mat-error>
	</mat-form-field>

  <mat-form-field  class="w-100 p-2">
		<mat-label>Instrukcja kontroli</mat-label>
		<input matInput formControlName="controlMethod" >
		<mat-error *ngIf="controlMethod.errors?.minlength &&! controlMethod.errors?.required">
			Prosze wprowadzić opis składający się z przynajmniej 3 znaków
		</mat-error>
		<mat-error *ngIf="controlMethod.errors?.required">
			To pole jest <strong>wymagane</strong>
		</mat-error>
	</mat-form-field>

  </div>
	<div mat-dialog-actions class="p-2 border-top d-flex justify-content-end">
		<button mat-raised-button class="btn btn-secondary" (click)="onNoClick()" >Anuluj</button>
		<button mat-raised-button class="btn btn-success" type="submit" [disabled]="!addgroupform.valid" >Zapisz</button>
  </div>
</form>