	<div class="p-0">
		<nav class="nav-left d-inline-flex p-3 pt-5  navbar-dark">
      
			<ul class="navbar-nav">
            <!--
                <li class="navbar-brand ">Kategoria</li>
				<li class="nav-item"><a class="nav-link active" href="#">Active</a></li>
				<li class="nav-item"><a class="nav-link" href="#">Link</a></li>
				<li class="nav-item"><a class="nav-link" href="#">Link</a></li>
				<li class="nav-item"><a class="nav-link disabled" href="#">Disabled</a></li>
            -->
                <span *ngFor="let m of menu ">
                    <li  class="navbar-brand text-white-70 ">
                        {{m.catName}}
                    </li>
                    
                    <li *ngFor="let mitem of m.item let i = index"class="nav-item mb-2 mt-2">
                        <svg class="bi bi-circle" width="0.6em" height="0.6em" viewBox="0 0 16 16" fill="white" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M8 15A7 7 0 108 1a7 7 0 000 14zm0 1A8 8 0 108 0a8 8 0 000 16z" clip-rule="evenodd"/>
                        </svg>
                        <a class="nav-link d-inline ml-2" routerLink="/{{m.item[i].alias}}/">{{m.item[i].name}}</a>
                    </li>
                    <hr class="" [ngStyle]="{background:'rgb(109, 109, 109)', width:'150px'}">
                </span>
			</ul>
		</nav>
	</div> 