<div class="p-0">
  <h5 class="text-light font-weight-light w-100 text-center mt-1" style="font-size: large; font-variant: small-caps; text-shadow: black 2px 2px 5px;">Laboratorium metrologiczne</h5>
  <div class="text-light pl-3 menu-desc">Zalogowany</div>
  <span class="w-100 text-center mt-1 d-block">
    <span class="d-block">
      <mat-icon svgIcon="account_box" style="height: 30px; width: 30px;"></mat-icon>
      <span class=" text-light d-block ml-1" style="font-size: x-small;">
        Administrator</span>
    </span></span>
  <div class="text-light d-block w-100 text-center">
    <span *ngIf="user">
      {{user.first_name}} {{user.last_name}}
    </span>

  </div>
  <span class="d-block w-100 text-right mt-2 pr-2 text-white-50" style="font-size: small;">

    <a class="nav-link d-inline ml-2 " (click)="logout()">
      <mat-icon svgIcon="logout" style="height: 18px; width: 18px;"></mat-icon>
      Wyloguj
    </a>
  </span>
  <div class="text-light pl-3 menu-desc" style="margin-top: 12px;">Nawigacja</div>
  <!-- <div class="logo pt-2 pl-5">
    <svg class="bi bi-bar-chart-fill positon-relative" width="1.8em" height="1.8em" viewBox="0 0 16 16" fill="#17a2b8"
      xmlns="http://www.w3.org/2000/svg">
      <rect width="4" height="5" x="1" y="10" rx="1" />
      <rect width="4" height="9" x="6" y="6" rx="1" />
      <rect width="4" height="14" x="11" y="1" rx="1" />
    </svg>
    <h2 class="d-inline">LM</h2>
  </div> -->
  <nav class="nav-left d-inline-flex p-3 pt-0  navbar-dark ">

    <ul class="navbar-nav">
      <span *ngFor="let m of menu ">
        <li class="navbar-brand text-white-70 ">
          {{m.catName}}
        </li>

        <li *ngFor="let mitem of m.item let i = index" class="nav-item mb-2 mt-2">
          <svg class="bi bi-dot" width="1em" height="1em" viewBox="0 0 16 16" fill="white"
            xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M8 9.5a1.5 1.5 0 100-3 1.5 1.5 0 000 3z" clip-rule="evenodd" />
          </svg>
          <a class="nav-link d-inline ml-2" routerLink="/{{m.item[i].alias}}/"
            routerLinkActive="active">{{m.item[i].name}}</a>
        </li>
        <hr class="" [ngStyle]="{background:'rgb(109, 109, 109)', width:'150px'}">
      </span>
    </ul>
  </nav>
</div>
