<div class="bg-info text-white border-bottom p-0  border-dark d-flex justify-content-between "> 
    <div class="p-2 m-0 ">
        <h4 class="text-capitalize ">laboratorium metrologi</h4>
    </div>
    <div class="mr-3 text-center text-white-50 pt-2"> 
        <h6 class="p-0 m-0 w-40">Dziś jest {{ CurrentDate | date:'EEEE':'':'pl'}}</h6>
        <h6 class="w-40">{{ CurrentDate | date:'dd-MM-yyyy ':'':'pl'}}</h6>
    </div>
    <div class=" mr-3">
        <p class="p-0 m-0  text-white-50">Zalogowany:</p>
        <h5>Tomasz Zarówny</h5>
    </div>
</div>
