<div style="height: calc(100% - 60px)">
  <h1 mat-dialog-title
    class="p-1 w-100 text-center text-capitalize border-bottom bg-secondary text-white shadow rounded">
    Przyrząd: {{ data }}
  </h1>

  <mat-tab-group [selectedIndex]="selected.value" (selectedIndexChange)="selected.setValue($event)">
    <!-- <mat-tab *ngFor="let tab of tabs; let index = index" [label]="tab">
      Contents for {{tab}} tab

      <button mat-raised-button class="example-delete-tab-button" [disabled]="tabs.length === 1">
        Delete Tab
      </button>
    </mat-tab> -->
    <mat-tab label="Dane podstawowe">
      <div class="datatab" *ngIf="!isDataLoaded" style="margin: 100px 300px;">
        <mat-spinner></mat-spinner>
      </div>
      <div *ngIf="isDataLoaded">
      <div class="datatab" >
        <mat-list style="padding: 10px 0px 10px 0px;">
              <mat-list-item><span class="ins-title" >Nazwa: </span>{{instrument.nazwa}}</mat-list-item>
              <mat-divider></mat-divider>
              <mat-list-item><span class="ins-title">Typ: </span> {{instrument.typ}}</mat-list-item>
              <mat-divider></mat-divider>
              <mat-list-item><span class="ins-title">Nr fabryczny: </span> {{instrument.nrFabryczny}}</mat-list-item>
              <mat-divider></mat-divider>
              <mat-list-item><span class="ins-title">Zakres pomiarowy: </span> {{instrument.zakres}}</mat-list-item>
              <mat-divider></mat-divider>
              <mat-list-item><span class="ins-title">Lokalizacja: </span>{{instrument.idLokalizacja.idObszar.nazwa}}:
                {{instrument.idLokalizacja.nazwa}} </mat-list-item>
              <mat-divider></mat-divider>
              <mat-list-item><span class="ins-title">Grupa: </span> {{instrument.idGrupa.nazwa}}</mat-list-item>
              <mat-divider></mat-divider>
              <mat-list-item><span class="ins-title">Metoda kontroli: </span> {{instrument.idGrupa.metodaKontroli}}</mat-list-item>
              <mat-divider></mat-divider>
              <mat-list-item><span class="ins-title">Status: </span>{{instrument.aktStatus.nazwa}} </mat-list-item>
              <mat-divider></mat-divider>
              <mat-list-item><span class="ins-title">Używany jako wzorzec?: </span>{{instrument.wzorzec? 'Tak' : 'Nie'}}</mat-list-item>
              <mat-divider></mat-divider>
        </mat-list>
      </div>
        <button mat-raised-button mat-button color="primary" (click)="editInstrumentData()" class="m-1">Edytuj dane
          przyrządu</button>
      </div>
    </mat-tab>

    <mat-tab label="Sprawdzenia/Kalibracje" class="h-100">
      <button mat-raised-button mat-button color="primary" (click)="addCertificate()" class="m-1">Wykonaj sprawdzenie przyrządu</button>
      <div class="datatab2">
      <div class="mat-elevation-z8 mr-2 ml-2 mb-2" style="height: 100%;">
        <div class="table-container">
          <mat-table [dataSource]="dataSource" multiTemplateDataRows matSort #sort="matSort">
                <!-- Nr -->
                <ng-container matColumnDef="nrSwiadectwa">
                  <mat-header-cell *matHeaderCellDef mat-sort-header class="matIdHeader"> Nr świadectwa </mat-header-cell>
                  <mat-cell *matCellDef="let row" class="matIdColumn"
                    (mouseenter)="$event ? selection.select(row) : null;  highlight();"
                    (mouseleave)="$event ? selection.clear() : null; highlight();"
                    [ngClass]="{'matSelectRow': selectedRowIndex == row.id}">{{row.nrSwiadectwa}}</mat-cell>
                </ng-container>
                <!-- start-data -->
                <ng-container matColumnDef="dataSprawdzenia">
                  <mat-header-cell *matHeaderCellDef mat-sort-header class="matIdHeader"> Data sprawdzenia </mat-header-cell>
                  <mat-cell *matCellDef="let row" class="matIdColumn"
                  (mouseenter)="$event ? selection.select(row) : null;  highlight();"
                  (mouseleave)="$event ? selection.clear() : null; highlight();"
                    [ngClass]="{'matSelectRow': selectedRowIndex == row.id}"> {{row.dataSprawdzenia}} </mat-cell>
                </ng-container>
                <!-- next-data -->
                <ng-container matColumnDef="dataNastepnejKontroli">
                  <mat-header-cell *matHeaderCellDef mat-sort-header class="matIdHeader"> Data ważności </mat-header-cell>
                  <mat-cell *matCellDef="let row" class="matIdColumn"
                  (mouseenter)="$event ? selection.select(row) : null;  highlight();"
                  (mouseleave)="$event ? selection.clear() : null; highlight();"
                    [ngClass]="{'matSelectRow': selectedRowIndex == row.id}"> {{row.dataNastepnejKontroli}} </mat-cell>
                </ng-container>
                <!-- type -->
                <ng-container matColumnDef="sprawdzenieZewnetrzne">
                  <mat-header-cell *matHeaderCellDef mat-sort-header class="matIdHeader"> Rodzaj </mat-header-cell>
                  <mat-cell *matCellDef="let row" class="matIdColumn"
                  (mouseenter)="$event ? selection.select(row) : null;  highlight();"
                  (mouseleave)="$event ? selection.clear() : null; highlight();"
                    [ngClass]="{'matSelectRow': selectedRowIndex == row.id}"> {{row.sprawdzenieZewnetrzne ? 'Zewnętrzne' : 'Wewnętrzne'}} </mat-cell>
                </ng-container>
                <!-- action -->
                <ng-container matColumnDef="action">
                  <mat-header-cell *matHeaderCellDef mat-sort-header class="matIdHeader">  </mat-header-cell>
                  <mat-cell *matCellDef="let row" class="matIdColumn"
                  (mouseenter)="$event ? selection.select(row) : null;  highlight();"
                  (mouseleave)="$event ? selection.clear() : null; highlight();"
                    [ngClass]="{'matSelectRow': selectedRowIndex == row.id}"></mat-cell>
                </ng-container>
                <mat-header-row *matHeaderRowDef="displayedColumns sticky: true"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;" matRipple class="element-row"></mat-row>
          </mat-table>
        </div>
        <!-- <mat-paginator class="paginator" #MatPaginator pageSize="10" [hidePageSize]="true"></mat-paginator> -->
      </div>
    </div>
    </mat-tab>
    <mat-tab label="Historia"> dane </mat-tab>
  </mat-tab-group>

</div>
<div mat-dialog-actions class="p-2 border-top d-flex justify-content-end">
  <button mat-raised-button class="btn btn-secondary" type="button" (click)="onNoClick()">
    Anuluj
  </button>
  <button mat-raised-button class="btn btn-success" type="submit">
    Zapisz
  </button>
</div>
