<div style="height: calc(100% - 60px)">
  <h1 mat-dialog-title
    class="p-1 w-100 text-center text-capitalize border-bottom bg-secondary text-white shadow rounded">
    {{title}}
  </h1>

  <mat-tab-group [selectedIndex]="selected.value" (selectedIndexChange)="selected.setValue($event)">
    <!-- <mat-tab *ngFor="let tab of tabs; let index = index" [label]="tab">
      Contents for {{tab}} tab

      <button mat-raised-button class="example-delete-tab-button" [disabled]="tabs.length === 1">
        Delete Tab
      </button>
    </mat-tab> -->
    <mat-tab label="Dane podstawowe">
      <div class="datatab" *ngIf="!isDataLoaded" style="margin: 100px 300px;">
        <mat-spinner></mat-spinner>
      </div>
      <div *ngIf="isDataLoaded">
        <div class="datatab">
          <mat-list style="padding: 10px 0px 10px 0px;">
            <mat-list-item><span class="ins-title">Nr: </span> ZPL.{{instrument.idGrupa.nrGrupy | number: '2.'}}.{{'000' + instrument.nr | slice:-4}}</mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item><span class="ins-title">Nazwa: </span>{{instrument.nazwa}}</mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item><span class="ins-title">Typ: </span> {{instrument.typ}}</mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item class="w-50 d-inline-block"><span class="ins-title w-50">Nr fabryczny: </span> {{instrument.nrFabryczny}}</mat-list-item>
            <mat-list-item class="w-50 d-inline-block"><span class="ins-title w-50">Zakres pomiarowy: </span> {{instrument.zakres ? instrument.zakres : '-'}}</mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item><span class="ins-title">Lokalizacja: </span>{{instrument.idLokalizacja.idObszar.nazwa}}:
              {{instrument.idLokalizacja.nazwa}} </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item><span class="ins-title">Grupa: </span> {{instrument.idGrupa.nazwa}}</mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item><span class="ins-title">Metoda kontroli: </span> {{instrument.idGrupa.metodaKontroli}}
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item><span class="ins-title">Status: </span>{{instrument.aktStatus.nazwa}} </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item><span class="ins-title">Używany jako wzorzec?: </span>{{instrument.wzorzec? 'Tak' : 'Nie'}}
            </mat-list-item>
            <mat-divider></mat-divider>
          </mat-list>
        </div>
        <button mat-raised-button mat-button color="primary" (click)="editInstrumentData()" class="m-1">Edytuj dane
          przyrządu</button>
      </div>
    </mat-tab>

    <mat-tab label="Sprawdzenia/Kalibracje" class="h-100">

      <div class="datatab2">
        <div class=" mr-2 ml-2 mb-2" style="height: 100%;">
          <div class="table-container">
            <mat-table [dataSource]="dataSource" multiTemplateDataRows matSort #sort="matSort">
              <!-- Nr -->
              <ng-container matColumnDef="nrSwiadectwa">
                <mat-header-cell *matHeaderCellDef mat-sort-header class="matnrSwiadectwaHeader"> Nr świadectwa </mat-header-cell>
                <mat-cell *matCellDef="let row" class="matnrSwiadectwaColumn"
                  (mouseenter)="$event ? selection.select(row) : null;  highlight();"
                  (mouseleave)="$event ? selection.clear() : null; highlight();"
                  [ngClass]="{'matSelectRow': selectedRowIndex == row.id}">{{row.nrSwiadectwa}}</mat-cell>
              </ng-container>
              <!-- start-data -->
              <ng-container matColumnDef="dataSprawdzenia">
                <mat-header-cell *matHeaderCellDef mat-sort-header class="matdataSprawdzeniaHeader"> Data sprawdzenia
                </mat-header-cell>
                <mat-cell *matCellDef="let row" class="matdataSprawdzeniaColumn"
                  (mouseenter)="$event ? selection.select(row) : null;  highlight();"
                  (mouseleave)="$event ? selection.clear() : null; highlight();"
                  [ngClass]="{'matSelectRow': selectedRowIndex == row.id}"> {{row.dataSprawdzenia}} </mat-cell>
              </ng-container>
              <!-- next-data -->
              <ng-container matColumnDef="dataNastepnejKontroli">
                <mat-header-cell *matHeaderCellDef mat-sort-header class="matdataNastepnejKontroliHeader"> Data ważności </mat-header-cell>
                <mat-cell *matCellDef="let row" class="matdataNastepnejKontroliColumn"
                  (mouseenter)="$event ? selection.select(row) : null;  highlight();"
                  (mouseleave)="$event ? selection.clear() : null; highlight();"
                  [ngClass]="{'matSelectRow': selectedRowIndex == row.id}"> {{row.dataNastepnejKontroli}} </mat-cell>
              </ng-container>
              <!-- type -->
              <ng-container matColumnDef="sprawdzenieZewnetrzne">
                <mat-header-cell *matHeaderCellDef mat-sort-header class="matsprawdzenieZewnetrzneHeader"> Laboratorium </mat-header-cell>
                <mat-cell *matCellDef="let row" class="matsprawdzenieZewnetrzneColumn"
                  (mouseenter)="$event ? selection.select(row) : null;  highlight();"
                  (mouseleave)="$event ? selection.clear() : null; highlight();"
                  [ngClass]="{'matSelectRow': selectedRowIndex == row.id}">
                  {{row.sprawdzenieZewnetrzne ? 'Zewnętrzne' : 'Wewnętrzne'}} </mat-cell>
              </ng-container>
              <!-- wynik -->
              <ng-container matColumnDef="wynikSprawdzenia">
                <mat-header-cell *matHeaderCellDef mat-sort-header class="matwynikSprawdzeniaHeader"></mat-header-cell>
                <mat-cell *matCellDef="let row" class="matwynikSprawdzeniaColumn"
                  (mouseenter)="$event ? selection.select(row) : null;  highlight();"
                  (mouseleave)="$event ? selection.clear() : null; highlight();"
                  [ngClass]="{'matSelectRow': selectedRowIndex == row.id}">
                   <mat-icon *ngIf="row.wynikSprawdzenia" matTooltip="Wynik pozytywny" matTooltipPosition="right" style="color: green;">check_circle</mat-icon>
                   <mat-icon *ngIf="!row.wynikSprawdzenia" matTooltip="Wynik negatywny" matTooltipPosition="right" style="color: red;">unpublished</mat-icon></mat-cell>
              </ng-container>
              <!-- action -->
              <ng-container matColumnDef="action">
                <mat-header-cell *matHeaderCellDef mat-sort-header class="matactionHeader"></mat-header-cell>
                <mat-cell *matCellDef="let row" class="matactionColumn"
                  (mouseenter)="$event ? selection.select(row) : null;  highlight();"
                  (mouseleave)="$event ? selection.clear() : null; highlight();"
                  [ngClass]="{'matSelectRow': selectedRowIndex == row.id}">
                  <div *ngIf="!row.sprawdzenieZewnetrzne">
                    <button mat-icon-button color="primary" aria-label="button certificate"
                      *ngIf="selectedRowIndex == row.id" matTooltip="Pobierz świadectwo sprawdzenia" matTooltipPosition="above"
                      (mouseenter)="$event ? selection.select(row) : null;  highlight();"
                      (click)="openCertificate(row.id)">
                      <mat-icon>get_app</mat-icon>Świadectwo
                    </button>
                    <span *ngIf="row.plik.length">
                    <button mat-icon-button color="primary" aria-label="button measurement card" class="butt_downl"
                      *ngIf="selectedRowIndex == row.id" matTooltip="Pobierz kartę pomiarów" matTooltipPosition="above"
                      (mouseenter)="$event ? selection.select(row) : null;  highlight();" type="button"
                      (click)="openMeasurementCard(row)">
                      <mat-icon>get_app</mat-icon>Karta
                    </button></span>
                  </div>
                  <div *ngIf="row.sprawdzenieZewnetrzne">
                    <button mat-icon-button color="primary" aria-label="button documents" class="butt_dwnl_doc"
                      *ngIf="selectedRowIndex == row.id" matTooltip="Pobierz dokumenty zewnętrznego laboratorium" matTooltipPosition="above"
                      (mouseenter)="$event ? selection.select(row) : null;  highlight();"
                      (click)="openMeasurementCard(row)">
                      <mat-icon>get_app</mat-icon>Dokumenty
                    </button>
                  </div>
                </mat-cell>
              </ng-container>
              <mat-header-row *matHeaderRowDef="displayedColumns sticky: true"></mat-header-row>
              <mat-row *matRowDef="let row; columns: displayedColumns;" matRipple class="element-row"></mat-row>
            </mat-table>
          </div>
          <!-- <mat-paginator class="paginator" #MatPaginator pageSize="10" [hidePageSize]="true"></mat-paginator> -->
        </div>
      </div>
      <button mat-raised-button mat-button color="primary" (click)="addCertificate()" class="m-1 mt-2">Wykonaj sprawdzenie
        przyrządu</button>
    </mat-tab>

    <mat-tab label="Harmonogram">
      <form [formGroup]="hDateForm" class="h-100">
      <div class="harm-date-title ">Wyświetl harmonogram</div>
      <mat-list style="padding: 10px 0px 10px 0px" class="ml-1 d-inline-block ">
        <mat-list-item class="w-50 d-inline-block">
          <mat-form-field color="accent" appearance="fill" (click)="picker2.open()">
            <mat-label>Od daty</mat-label>
            <input matInput [matDatepicker]="picker2" [readonly]="true" formControlName="data_start">
            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
            <mat-datepicker #picker2 color="primary"></mat-datepicker>
          </mat-form-field>
        </mat-list-item>
        <mat-list-item class="w-50 d-inline-block">
          <mat-form-field color="accent" appearance="fill" (click)="picker3.open()">
            <mat-label>Do daty</mat-label>
            <input matInput [matDatepicker]="picker3" [readonly]="true" formControlName="data_end">
            <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
            <mat-datepicker #picker3 color="primary"></mat-datepicker>
          </mat-form-field>
        </mat-list-item>
      </mat-list>
    </form>
    </mat-tab>
  </mat-tab-group>

</div>
<div mat-dialog-actions class="p-2 border-top d-flex justify-content-end">
  <button mat-raised-button color="primary" class="btn btn-success" type="button" (click)="onNoClick()">
    <span class="material-icons">
      cancel
      </span> Zamknij
  </button>
</div>
