<div class="left-content position-fixed h-100 bg-dark shadow border-right border-secondary " width="190">



    <app-menu></app-menu>
</div>
<div class="right-content position-fixed h-100 bg-light">
    <div>
        <app-bar></app-bar>
    </div>
    <div>
      <router-outlet></router-outlet>

      <div>

      <button mat-raised-button (click)="openDialog()">Open modal</button>

    <br />
    <div *ngIf="email">
      You signed up with: <p>{{email}}</p>
    </div>

</div>
    </div>
</div> 