.example-section {
  display: flex;
  align-content: center;
  align-items: center;
  height: 35px;
  font-style: oblique;
  font-size: small;
}
.radio-margin {
  margin: 0 10px;
  padding-top: 5px;

}
.radio-label{
  font-size: small;
  margin-top: 4px;
  font-weight: bold;
  margin-left: 200px;
}
.datatab{
  padding: 0px 15px 0px 15px;
  font-size: medium;
}
.title_inst{
  font-style: italic;
  font-variant: small-caps;
  color: slategrey;
}
.ins-title{
  font-size: small;
  color: cadetblue;
  display: flex;
  margin-left: -15px;
}
mat-list-item{
  padding: 2px;
  display: block;
  font-size: small;
}
.wzorce-select{
  width: 100%;
}
.dwnl_butt{
  display: inline-block;
  position: relative;
  top: 3px;
}
.upld{
  display: inline-block;
  position: relative;
  top: 3px;
  left: 235px;
}
.next-arrow-icon{
  font-size: 48px;
  width: 48px;
  display: block;
  margin-bottom: -18px;
  margin-left: auto;
  margin-right: auto;
}
.next-arrow-text{
  padding: 0%;
  display: flex;
}
.next-arrow{
  display: inline-block;
  position: relative;
  top: 13px;
  left: 146px;
  margin: -24px;
  color: slategrey;
}
