.example-section {
  display: flex;
  align-content: center;
  align-items: center;
  height: 60px;
  font-style: oblique;
  font-size: small;
}
.radio-margin {
  margin: 0 10px;
  padding-top: 5px;

}
.radio-label{
  font-size: large;
}
.datatab{
  padding: 15px;
  font-size: medium;
}
.ins-title{
  font-size: small;
  color: cadetblue;
  display: flex;
  margin-left: -15px;
}
mat-list-item{
  padding: 2px;
  display: block;
}
.wzorce-select{
  width: 100%;
}
