@import '~bootstrap/dist/css/bootstrap.min.css';
@import '@angular/material/prebuilt-themes/indigo-pink.css';

.mat-dialog-bg .mat-dialog-container{
  background-color: whitesmoke;
  color: rgb(39, 38, 38);
}
.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}