body {
  background-image: url("assets/bg-log2.jpg");
  background-size: cover;
}
.mat-tooltip {
  font-size: 14px !important;
}
.nav-link{
  cursor: pointer;
}
.nav-link:hover{
  color:rgb(185 251 246) !important;
}
