mat-table {
  width: 100%;
  flex: 1;
  min-height: 0;
  overflow: auto
}

.mat-form-field {
  font-size: 14px;
  width: 300px;
}
.table-scroll-container{
  width: 100%;
  overflow-y: auto;
  max-height: 250px;
}
.nag_comp{
  background-color: #eef1ef!important;
  text-align: center ;
}
.nag_comp h4 {
  padding: 6px;
  position: fixed;
  top: 7px;
  color: whitesmoke;
}
.mat-header-cell{
  font-size: 16px;
}
.matSelectColumn{
  max-width: 50px;
}
.matIdHeader{
  padding-left: 20px;
}
.matIdColumn, .matIdHeader{
  max-width: 70px;
  flex-direction: column;
  justify-content: center;
}
.matSelectRow{
  background-color: #e5e8ff;
}
.matSelectRowPLace{
  background-color:#94e2ff;
}
.matNazwaPlaceHeader{
  width: 200px;
}
.matNazwaPlaceRow{
  width: 200px;
}
.matActionPlaceRow{
  max-width: 100px;
}
.matSelectRowMouse{
  background-color: gray;
}
.expandDetailRow, .expandDetailRow mat-table{
  background-color: #ededf5;
}
.expandDetailRowDesc{
  display: block;
  color: cadetblue;
  width: 180px;
  text-align: center;
  padding-right: 10px;
}
.mat-cell{
  text-align: left;
}
.matAddPlace{
  display: block;
  padding: 10px;
}
